/* html {
  width: 100%;
  height: 100%;
  background: #EEB625;
  margin: 0;
} */

body {
  position: absolute;
  width: 375px;
  height: 812px;
  left: 0px;
  top: 0px;
  margin: auto 0;

  /* background: #EEB625; */
}