.html {
    width: 100%;
    height: 100vh;
    margin: auto;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    touch-action: none;
}

.generalBody {
    background: #EEB625;;
    width: 375px;
    height: 812px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

/* .testDiv {
    background: red;
    width: 375px;
    height: 200px;
    position: absolute;
    top: 812px;
    transition: top 300ms;
    z-index: 5;
}

.testDiv:hover {
    top: 250px;
}

.testP {
    text-align: center;
    width: 50px;
    top: 30px;
    left: 10px;
    position: relative;
} */

.generalWidgetWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: 230px;
    z-index: 6;

    /* transition: top 300ms; */
}

/* .generalWrapper:hover {
    top: -54px;
} */

.generalLocation {
    /* Plovdiv */

    position: relative;
    /* width: 154px; */
    height: 31px;
    left: 33px;
    top: 71px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;

    color: #FFFFFF;

    background: #EEB625;
    border: none;
    border-radius: 2px;
    outline: none;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

::placeholder {
    color: #FFFFFF;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFFFFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFFFFF;
}

.generalMagGlass {
    /* Group 6 */

    position: relative;
    width: 18px;
    height: 18px;
    /* left: 116px; */
    left: 20px;
    top: 75px;
}

.generalInfoHandler {
    position: absolute;
    top: 0;
    width: 375px;
    height: 0px;
    display: flex;
    /* user-select: none; */
}

.generalTemp {
    /* 27° */

    /* position: absolute; */
    position: relative;
    /* width: 148px; */
    height: 90px;
    left: 30px;
    top: 94px;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;

    color: #FFFFFF;
    transition: all 300ms;    

}

.generalTempSmall {
    /* 27° */

    position: relative;
    height: 90px;
    left: 30px;
    top: 94px;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;

    color: #FFFFFF;

    transition: all 300ms;    
}

.generalSymbol {
    /* C */

    /* position: absolute; */
    position: relative;
    width: 36px;
    height: 50px;
    /* left: 178px; */
    left: 36px;
    /* top: 103px; */
    top: 105px;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;

    transition: all 300ms;
    z-index: 4;    
}

.generalSymbolSmall {
    /* C */

    position: relative;
    width: 36px;
    height: 50px;
    left: 36px;
    /* top: 103px; */
    top: 101px;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;

    transition: all 300ms;    
    z-index: 4;    
}

.generalIconClear {
    /* Group 25 */

    /* position: absolute; */
    position: relative;
    width: 27.42px;
    height: 28px;
    /* left: 144px; */
    left: -36px;
    /* top: 154px; */
    top: 154px;
    z-index: 10;
}

.generalIconElse {
    /* Group 2 */

    /* position: absolute; */
    position: relative;
    width: 35.49px;
    height: 34.5px;
    /* left: 143px; */
    left: -37px;
    top: 150px;
}

.generalType {
    /* Sunny */

    position: relative;
    width: 144px;
    height: 31px;
    left: 30px;
    top: 197px;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;

    color: #FFFFFF;
}

.generalBtnWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: 250px;
    /* z-index: 4; */
    z-index: 5;

}

.generalBtn {
    /* More details */

    /* position: absolute; */
    position: relative;
    width: 174px;
    height: 15px;
    left: 30px;
    top: 235px;
    margin: 0;
    /* padding-right: 0px;
    padding-right: 0px; */
    /* margin-block-end: 0px; */
    /* border: 0; */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}

.generalBtnSVG {
    /* Vector 23 */

    /* position: absolute;
    width: 3px;
    height: 6px;
    left: 100.5px;
    top: 239.5px;
    margin: 0;

    border: 1px solid #FFFFFF; */

    /* position: absolute; */
    position: relative;
    width: 5px;
    height: 10px;
    left: 110px;
    /* top: 235px; */
    top: 216.45px;

    /* border: 2px solid #FFFFFF; */
    /* transform: rotate(90deg); */
    transition: transform 500ms;
}

.generalTouchable {
    /* top: 250px; */
    top: 0px;
    left: 0px;
    width: 375px;
    /* height: 562px; */
    height: 812px;
    /* height: 627px; */
    /* position: relative; */
    position: absolute;
    /* z-index: 10; */
    z-index: 4;
}

.generalLady {
    /* Group 4 */

    position: absolute;
    width: 217.62px;
    height: 315.65px;
    left: 105.79px;
    top: 308px;
    z-index: 2;
    pointer-events: none;
}

.generalSunInner {
    left: 0px;
    top: 326px;
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.generalSunOuter {
    left: 0px;
    top: 326px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.generalCloud {
    /* Group 3 */

    position: absolute;
    width: 413.16px;
    height: 272.84px;
    left: -74px;
    top: 521.41px;
    z-index: 0;
    pointer-events: none;
}